.message0 .message1 {
    display: none;
}

.message2 {
    font-size: 40px;
    width: 100%;
    height: 65px;
    color: red;
    margin-top: 15px;
}

.message3 {
    font-size: 40px;
    width: 100%;
    height: 65px;
    color: green;
    margin-top: 15px;
}